body {
    background-color: brown;
}

.container  {
    text-align: center;
    font-size: 30px;
}

.formcontainer {
    max-width: 700px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}

.resultcontainer {
    max-width: 700px;
    margin: auto;
    background-color: coral;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
}

label {
    width: 50%;
    display: inline-block;
}