body {
    background-color: brown;
    color: white;
}

.container  {
    text-align: center;
    font-size: 30px;
}

.formcontainer {
    max-width: 700px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    color: black;
}

.resultcontainer {
    max-width: 700px;
    margin: auto;
    background-color: coral;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.password {
    width: 50%;
    display: inline-block;
}

input[type="number"] {
    width: 30%;
    height: 20px;
}

input[value="Back"] {
    background-color: blue;
    margin-top: 20px;
    padding: 14px;
    color: white;
    cursor: pointer;
}

.result {
    font-size: 30px;
}

.radios, .checkboxes, .buttons {
    margin-top: 20px;
}

.allow {
    width: 50%;
    display: inline-block;
}